@import '../../../../Assets/Theme/global.scss';

.modal{
  background-color: $offWhite;
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  padding: $space9;
  box-sizing: border-box;
  overflow-y: scroll;
  cursor: initial;

  @include desktopSup {
    padding: $space14;
    width: 744px;
    left: 50%;
    margin-left: -372px;
    margin-top: 34px;
    height: fit-content;
    max-height: 95vh;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    margin-bottom: $space9;
  }

  &__keynote{
    margin-bottom: $space11;
  }

  &__timezone{
    margin-bottom: $space14;

    @include desktopSup {
      margin-bottom: $space15;
    }
  }

  &__body-text{
    margin-bottom: $space13;
    margin-top: $space13;
  }

  &__calendary-btn{
    margin-bottom: $space16;
  }

  &__speaker-label{
    margin-bottom: $space11;
  }

  &__backdrop{
   background-color: rgba(36, 36, 36, 0.40);
   height: 100%;
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 999999;
  }
}
