@import '../../../Assets/Theme/global.scss';

.state-container{
  position: relative;
  overflow: hidden;
  max-width: 572px;
}

.card-highlighted-speaker, .card-highlighted-speaker-hover{
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  &__company-details{
    background-color: $primary;
    color: $black;
    height: 54px;
    padding-left: $space8;
    padding-right: $space8;
    display: flex;
    justify-content: space-between;
    font-size: $font4;
    align-items: center;
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__heading{
    padding-top: $space11;
    padding-bottom: $space12;
  }

  &__name{
    @include desktopSup {
      padding-bottom: $space12;
    }
  }
}

.hover{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.card-highlighted-speaker-hover{
  &__company-details{
    padding-top: $space15;
    padding-left: 0;
    padding-right: 0;
  }
}
