@import '../../../../Assets//Theme/global.scss';

.card-header{
  display: flex;
  justify-content: space-between;
  align-items: start;

  &__textSection{
    display: flex;  
    align-items: center;
    width: 100%;
    justify-content: space-between;

    @include desktopSup {
      width: fit-content;
      p{
        margin-left: $space9;
      }
    }
  }

  .hoverIcon{
    visibility: hidden;
  }
}

.card-wrapper{
  &:hover{
    .hoverIcon{
      visibility:visible;
    }
  }
}