@import '../../../../Assets/Theme/global.scss';

.time-label{
  background-color: $black;
  border-radius: $border-radius;
  color: $white;
  padding-top: $space6;
  padding-bottom: $space6;
  padding-left: $space8;
  padding-right: $space8;
  display: inline-block;
  box-sizing: border-box;
  font-size: $font2;
  line-height: 80%;
  height: 27px;
}