@import '../../../Assets/Theme/global.scss';

.agenda-header{
  margin-top: $space15;
  white-space: pre-line;
  
  .subtitle{
    margin-bottom: $space11;
  }

  .title{
    margin-bottom: $space12;
  }

  .timezone{
    text-align: right;
    font-weight: bold;
  }

  @include desktopSup {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: $space15;

    >div{
      flex: 1 1 0px;
    }

    .title{
      margin-bottom: 0;

      @include desktopSup {
        h1{
          font-size: 80px;
        }
      }
    }

    .button-container{
      display: flex;
      justify-content: center;
    }
  }
}