@import '../../../../Assets/Theme/global.scss';

.secondary-button {
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  padding: 0;
  padding-bottom: $s3;
  cursor: pointer;
  height: 20px;
  display: flex;
  align-items: center;

  span {
    padding-right: $s4;
  }

  svg {
    height: 16px;
    width: 16px;
  }
}
