@import '../../../../Assets/Theme/global.scss';

.secondary-button{
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  padding: 0;
  padding-bottom: $s3;
  cursor: pointer;

  span{
    padding-right: $s4;
  }
}
