@import './breakpoints.scss';
@import './spacing.scss';

// ---- COLORS ---- \\
.primary-color{
  color: $primary;
}

// ---- HELPERS ---- \\
.show-desktop-only{
  display: none;

  @include desktopUpS {
    display: initial;
  }
}

.bold{
  font-weight: bold;
}
