@import './breakpoints.scss';
@import './spacing.scss';

// ---- COLORS ---- \\
.primary-color{
  color: $primary;
}

.primary-bg-color{
  background-color: $primary;
}

.dark-gray-bg-color{
  background-color: $darkGray;
}

// ---- HELPERS ---- \\
.show-desktop-only{
  display: none;

  @include desktopSup {
    display: block;
  }
}

.show-mobile-only{
  display: block;

  @include desktopSup {
    display: none;
  }
}

.bold{
  font-weight: bold;
}
