@import './breakpoints.scss';
@import './spacing.scss';

// ---- COLORS ---- \\
.primary-color{
  color: $primary;
}

.primary-bg-color{
  background-color: $primary;
}

.dark-gray-bg-color{
  background-color: $darkGray;
}

// ---- HELPERS ---- \\
.show-desktop-only{
  visibility: hidden;

  @include desktopSup {
    visibility: visible;
  }
}

.show-mobile-only{
  visibility: visible;

  @include desktopSup {
    visibility: hidden;
  }
}

.bold{
  font-weight: bold;
}
