$s1: 2px;
$s2: 4px;
$s3: 6px;
$s4: 8px;
$s43: 9px;
$s5: 10px;
$s55: 12px;
$s6: 14px;
$s7: 16px;
$s8: 17px;
$s88: 24px;
$s888: 32px;
$s123: 40px;
$s8888: 48px;
$s9: 56px;
$s99: 64px;
$s10: 96px;

$f1: 9px;
$f2: 12px;
$f3: 14px;
$f4: 17px;
$f5: 20px;
$f6: 24px;
$f7: 32px;
$f761: 40px;
$f8: 48px;
$f9: 56px;

$border-radius: 27px;

$lightGray: #DADADA;
$darkGray: #CACACA;
$primary: #D7FE51;
$black: #000;
$offBlack: #010101;
$white: #FFFFFF;
$offWhite: #F2F2F2;
