//--- Spacing ---\\
$space1: 2px;
$space2: 4px;
$space3: 6px;
$space4: 8px;
$space5: 9px;
$space6: 10px;
$space7: 12px;
$space8: 14px;
$space9: 16px;
$space10: 17px;
$space11: 24px;
$space12: 32px;
$space13: 40px;
$space14: 48px;
$space15: 56px;
$space16: 64px;
$space17: 96px;

//--- Font sizes ---\\
$font1: 9px;
$font2: 12px;
$font3: 14px;
$font4: 17px;
$font5: 20px;
$font6: 24px;
$font7: 32px;
$font8: 48px;
$font9: 56px;

//--- Border radius ---\\
$border-radius: 27px;

//--- Colors ---\\
$lightGray: #DADADA;
$darkGray: #CACACA;
$primary: #D7FE51;
$black: #000;
$offBlack: #010101;
$white: #FFFFFF;
$offWhite: #F2F2F2;
