@import '../../../Assets/Theme/global.scss';

.card-row{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;

  &__learn-more{
    padding-bottom: 40px;
  }
}
