@font-face {
  font-family: "o9Font";
  src: local("o9Font"),
    url(./Assets/Fonts/o9Sans-Light-Web.woff2) format("woff2");
}

body {
  margin: 0;
  font-family: o9Font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  background-color: #E5E5E5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
